h1{
    color: midnightblue;
    
    padding: 0%;
    align-self: center;
flex-direction: row;
}
img{
  margin-left: 35%

}

#container{justify-content: center;
  width: 50%;
  height: 300px;
   
 

}
#box{
  font-weight: 100;}


#competence {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: beige;
}
td{
  border:1px solid black;
  background-color: beige;
}
