img{
    width: 100%;
    height: 1000px;
}
body{
   background-image: url("Image_created_with_a_mobile_phone.png");
   
}
#conteneur{
display: flex;
justify-content: center;
margin-top: 263px;
}
#conteneur{
    text-align: center;
    color: red;
    font-size: 30px;
}
