.container{

    width: 500px;
     margin: 0px auto;
     /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
     text-align: center;
   }
   img{
     height: 200px;
   
     width: 200px;
     margin: 1%;
 
 
   }
   .section
     {
         border: 1;
         width: 1000px;
         display: flex;
         flex-wrap: wrap;
         margin: 0px;
 
         /*justify-content: center;*/
         text-align: center;
   }
  .centenaire{ display:0;
     display: flex;
    border: 1;
     width: 1000px;
     margin: 0px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
     
 
 }
 
 
 
     h2{
     border: thin solid #6495ed;
     
     
     margin: 10px ;
     text-align: center;
      }
 
     h3{
         border: thin solid #6495ed;
         display: inline;
     margin: 10px;
       
         text-align: center;
          }
          h4{
           width: 10%;
           margin: 10px;
          }
 
     h1{
         border: thin solid #6495ed;
         display: center;
         margin: 10px ;
         text-align: center;
         width: 20%;
          }
          li{
           margin: 0px ;
           width: 1000%;
           text-align-last: left;
          }
       
       
   