.container{

   width: 200px;
    margin: 0px auto;
 
    text-align: center;}
  img{
    height: 200px;
  
    width: 200px;
    margin:5% ;

  }
  #entete {
    background-color:orange;
    text-align:center;
    margin: 10px;
    border: 2px dotted;
    text-align: center;

  }
  .papa{
    display:flex;
    background-color: burlywood;
  }
  .section{
        
        width: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin:2px;
        text-align: center;}
 .centenaire{ display:0;
    display: flex;
   border: 1;
    width: 1000px;
    margin: 0px
     right;
}
h5{text-align: center;
  font-size: 30px;
  
}
    h2{
  
     margin: 15px;
    text-align: center;
     }
     .mama{
      border: solid;
      margin: 15px;
      height: 1000px;
      
     }
    .frere{
      border:  1rem solid;
      height: 565px;
      background-color: burlywood;

    } 
      
     

    h3{
        border:orange;
        
     
    margin: 10px;
      
        text-align: center;
         }
         h4{
          width: 10%;
          margin: 15px;
          height: 10px;
         }
         
         

    h1{
        border: thin solid #6495ed;
     
        margin:flex ;
        text-align: center;
        width: 20%;
        
         }
         li{
          margin: 0px ;
          width: 1000%;
          text-align-last: left;
         }
      
     body{
      margin-left: 150px;
      margin-right: 150px;
     } 
  